
:root{
--color-primary: red;
--color-special: rgba(241, 98, 31, 0.863);
--font-primary: Arial, Helvetica, sans-serif;
}

html{
    font-size: 100%; ;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
a {
    color: blue;
}
a:hover{
    color: rgb(127, 34, 214);
}
img{
    max-width: 100%;
}


#titulo-prin {
font-family: var(--font-primary);
color: var(--color-primary);
background-color: var(--color-special);
font-size: 2rem;
}

#inicio {
    background-color:var(--color-special);
    color:blueviolet;
}
#rey-pirata {
    color: var(--color-primary);
    background-color: burlywood;
}

.text-right {
    text-align: left;
}
.text-center {
    text-align: center;
    color: yellow;
}
.acerca h2{
 color: yellowgreen;
}
.acerca li:first-child {
    background-color: blue;
}
.acerca li:last-child {
    background-color: blueviolet;
}

* {
    box-sizing: border-box;
  }
  .grid-personajes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-personajes article {
    background-color: crimson;
    border-radius: 10px;
    padding: 15px;
}
.grid-nav {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
    justify-items: center; 
    padding: 15px;
}
.grid-footer{
    display: grid;
    padding: 10px;
    justify-items: center;
    grid-template-columns: repeat(1,1fr);
}
.grid-galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: cornsilk;
    gap: 10px;
    padding: 20px;
}

.grid-galeria img{
    border-radius: 5px;
}
.grid-iframe{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    padding: 20px;
}
@media screen and (max-width: 768px) 
{
    .grid-personajes{
        grid-template-columns: 1fr;
    }

    .grid-galeria{
        grid-template-columns: 1fr;
    }
}
